In [2]:
import pandas as pd
from matplotlib import pyplot
from scipy import stats

In [4]:
df4 = pd.read_csv('data/21.6 signed_wilcoxon.csv')
df4

    before  after
0        6      6
1        5      6
2       12      1
3       12     11
4        3     11
5       11     11
6       11     12
7       11     14
8        1      7
9       10     14
10       6     13
11      12     12
12       5      8
13       5      2
14      11      7
15       9     11
16      11     13
17      10     11
18       1      1
19       1      3
20       1      2
21      10      1
22       2      6
23       6     10
24       9      9
25       8      5
26       6     11
27       1      3
28       8      3
29      11      2

In [5]:
stats.shapiro(df4.before)

ShapiroResult(statistic=0.8824636936187744, pvalue=0.0032130188774317503)

In [6]:
stats.shapiro(df4.after)

ShapiroResult(statistic=0.9091560244560242, pvalue=0.014169566333293915)

In [8]:
stats.wilcoxon(df4.before, df4.after, alternative="greater")

WilcoxonResult(statistic=132.0, pvalue=0.7946318573868679)