In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data/vehicles_dataset_upd2 (2).csv')
df

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category,date
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high,2021-04-17 16:30:50+00:00
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium,2021-05-03 19:40:21+00:00
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high,2021-04-28 10:52:20+00:00
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium,2021-04-17 14:08:57+00:00
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,clean,other,https://images.craigslist.org/00F0F_5UAXmOzC18...,Carvana is the safer way to buy a car During t...,tn,35.970000,-83.940000,2021-04-08T15:10:56-0400,medium,2021-04-08 19:10:56+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614,7304876387,https://chautauqua.craigslist.org/ctd/d/falcon...,chautauqua,https://chautauqua.craigslist.org,4495,2002,toyota,rav4,gas,150000,clean,automatic,https://images.craigslist.org/00n0n_aaEBqmzz5Z...,Transmission:Automatic Exterior Color:WHITE In...,ny,42.123900,-79.189500,2021-04-10T16:33:57-0400,low,2021-04-10 20:33:57+00:00
9615,7316152972,https://binghamton.craigslist.org/ctd/d/roches...,binghamton,https://binghamton.craigslist.org,14495,2008,jeep,wrangler,gas,113573,clean,other,https://images.craigslist.org/00000_9ZNVdXaiei...,2008 Jeep Wrangler X Offered by: R&L Auto -- ...,ny,43.216990,-77.755610,2021-05-03T09:36:30-0400,medium,2021-05-03 13:36:30+00:00
9616,7310993818,https://salem.craigslist.org/ctd/d/salem-2011-...,salem,https://salem.craigslist.org,8995,2011,audi,a3 2.0t premium plus pzev,gas,150184,clean,automatic,https://images.craigslist.org/00X0X_k5JiZDDyqM...,2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...,or,44.925908,-122.982753,2021-04-22T12:14:01-0700,low,2021-04-22 19:14:01+00:00
9617,7306637427,https://madison.craigslist.org/ctd/d/madison-2...,madison,https://madison.craigslist.org,31900,2015,porsche,cayenne,hybrid,61943,clean,automatic,https://images.craigslist.org/00O0O_gBihGEQxYT...,"2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...",wi,43.029559,-89.397796,2021-04-14T09:14:42-0500,high,2021-04-14 14:14:42+00:00
9618,7311960763,https://norfolk.craigslist.org/ctd/d/chesapeak...,norfolk / hampton roads,https://norfolk.craigslist.org,31990,2017,ram,1500 crew cab big horn,gas,35921,clean,other,https://images.craigslist.org/00c0c_4rTlvLXy36...,Carvana is the safer way to buy a car During t...,va,36.670000,-76.300000,2021-04-24T13:50:49-0400,high,2021-04-24 17:50:49+00:00

In [6]:
df.odometer.describe()

count      9619.000000
mean      95166.428943
std       62746.525381
min           0.000000
25%       40784.000000
50%       91000.000000
75%      138594.500000
max      283995.000000
Name: odometer, dtype: float64

In [8]:
df.odometer.describe().apply(lambda x: f"{x:0.2f}")

count      9619.00
mean      95166.43
std       62746.53
min           0.00
25%       40784.00
50%       91000.00
75%      138594.50
max      283995.00
Name: odometer, dtype: object

In [9]:
df.apply(lambda x: x.odometer **2, axis=1)

0         753063364
1        3602760529
2         197346304
3       13757178681
4        6474616225
           ...
9614    22500000000
9615    12898826329
9616    22555233856
9617     3836935249
9618     1290318241
Length: 9619, dtype: int64

In [10]:
df.apply(lambda x: x.odometer **2 if x.odometer % 2 == 0 else 0, axis=1)

0         753063364
1                 0
2         197346304
3                 0
4                 0
           ...
9614    22500000000
9615              0
9616    22555233856
9617              0
9618              0
Length: 9619, dtype: int64

In [11]:
df['odometer_km'] = df.apply(lambda x: x.odometer * 1.609344, axis=1)

In [12]:
df['odometer_km']

0        44163.618048
1        96597.654912
2        22608.064512
3       188761.567104
4       129495.864960
            ...
9614    241401.600000
9615    182778.026112
9616    241697.719296
9617     99687.595392
9618     57809.245824
Name: odometer_km, Length: 9619, dtype: float64

In [14]:
print(df['odometer_km'].corr(df['odometer']))

1.0

In [15]:
df['odometer/price'] = df.apply(lambda x: x.odometer / x.price, axis=1)

In [16]:
df['odometer/price']

0        0.499036
1        3.542852
2        0.394718
3        8.089034
4        5.515079
          ...
9614    33.370412
9615     7.835323
9616    16.696387
9617     1.941787
9618     1.122882
Name: odometer/price, Length: 9619, dtype: float64

In [17]:
print(df['odometer/price'].corr(df['odometer']))

0.5183457884864098

In [18]:
print(df['odometer/price'].corr(df['price']))

-0.49196087424528706

In [19]:
df.to_csv('data/vehicles_dataset_upd3.csv', index=False)