# Pandas. Домашнее задание

В домашнем задании есть обязательные и дополнительные задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал модуля. Они обязательны к загрузке на проверку преподавателю.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по работе с Pandas. Вы также можете загрузить их на проверку преподавателю и получить по ним обратную связь.

Удачи!



---



---

**Цели домашнего задания:**
1. Научиться работать с описательными статистиками набора данных.
2. Научиться выбирать данные по условиям.
3. Научиться объединять несколько датафреймов в один.

**Что входит в домашнее задание:**
1. *Обязательные задачи*:

17 задач с использованием:
- набора рекламных данных, показывающих, щелкнул ли конкретный пользователь интернета рекламу на веб-сайте компании или нет,
- дополнительного набора данных, описывающего пользователей, посещающих веб-сайт компании.
2. *Дополнительные задачи*:

3 задачи для отработки исследования данных.

**Критерии оценки:**
- программа выдаёт верный ответ на заданном наборе данных;
- код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены.

**Как отправить задание на проверку**

Выполните задачи, сохраните изменения при помощи опции Save and Checkpoint из вкладки меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму на платформе итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.



---


---

**Обязательные задачи**

В течение всего домашнего задания вы будете работать с несколькими наборами данных:
1. Набор рекламных данных, показывающих, щёлкнул ли конкретный пользователь рекламу на сайте компании или нет. Состоит из трёх разных файлов: `advertising_1.csv`, `advertising_2.csv`, `advertising_3.csv`.

Описание столбцов датасета:
- **Number**: Номер пользователя в системе.
- **Daily Time Spent on Site**: Среднее ежедневное время нахождения пользователя на сайте в минутах.
- **Daily Internet Usage**: Среднее ежедневное время нахождения пользователя в интернете в минутах.
- **Ad Topic Line**: Заголовок рекламного объявления.
- **Clicked on Ad**: Кликнул пользователь на рекламу или нет.

Дополнительный к рекламным данным датасет, который описывает пользователей, посещающих сайт компании. Состоит из одного файла: users.csv.

Описание столбцов датасета:
- **Number**: Номер пользователя в системе.
- **Age**: Возраст пользователя.
- **Male**: Является ли пользователь мужчиной.
- **City**: Город пользователя.
- **Country**: Страна пользователя.
- **Area Income**: Средний доход в месте жительства пользователя.

***Задача 1***

Загрузите таблицу из файла `advertising_1.csv` и сохраните её в датафрейм `adv1_df`. Укажите в качестве индекса столбец `Number`. Выведите на экран первые десять строк.

In [55]:
# Ваш код здесь
import pandas as pd
adv1_df = pd.read_csv('./12.6 Данные для домашнего задания/12.6 Данные для домашнего задания/advertising_1.csv')
adv1_df = adv1_df.set_index('Number')
adv1_df.head(10)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
11,88.91,208.36,Enhanced dedicated support,0
12,NaN,131.76,Reactive local challenge,1
13,74.53,NaN,Configurable coherent function,0
14,69.88,183.82,Mandatory homogeneous architecture,0
15,47.64,122.02,Centralized neutral neural-net,1

***Задача 2***

Выведите размер датафрейма `adv1_df`.

In [5]:
# Ваш код здесь
adv1_df.shape

(500, 4)

***Задача 3***

Выведите cреднее ежедневное время нахождения в интернете пользователя под номером 8.

In [6]:
# Ваш код здесь
adv1_df.loc[8, 'Daily Internet Usage']

245.89

***Задача 4***

Загрузите таблицу из файла `advertising_2.csv` и сохраните её в датафрейм `adv2_df`. Укажите в качестве индекса стоблец `Number`. Выведите на экран строки для пользователей с номерами с 533-го по 536-й.

In [32]:
# Ваш код здесь
adv2_df = pd.read_csv('./12.6 Данные для домашнего задания/12.6 Данные для домашнего задания/advertising_2.csv')
adv2_df = adv2_df.set_index('Number')
adv2_df.loc[533:536, :]

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
533,46.61,NaN,Ergonomic methodical encoding,1
534,NaN,162.03,Compatible dedicated productivity,0
535,65.10,118.10,Up-sized real-time methodology,1
536,53.44,NaN,Up-sized next generation architecture,1

***Задача 5***

Выведите сводную таблицу описательных статистик для датафрейма `adv2_df`, вызвав необходимый метод на всём датафрейме. 

Глядя на вывод, напишите, столбец с каким названием не содержит незаполненных значений.

*Подсказка:*  В сводной таблице не содержится информации о количестве строк всего датафрейма, поэтому для сначала распечатайте общее количество строк датафрейма.

*Рекомендация:* Кроме изученного метода `describe` для описания датафрейма и получения информации о пропущенных значениях полезен метод [`info`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html).

In [33]:
# Ваш код здесь
adv2_df.shape

(200, 4)

In [34]:
adv2_df.describe()

       Daily Time Spent on Site  Daily Internet Usage  Clicked on Ad
count                184.000000            184.000000     200.000000
mean                  66.494728            186.809674       0.420000
std                   15.414725             43.844580       0.494797
min                   32.910000            108.030000       0.000000
25%                   52.805000            148.955000       0.000000
50%                   71.150000            194.170000       0.000000
75%                   78.352500            225.372500       1.000000
max                   91.430000            259.760000       1.000000

In [35]:
adv2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 530 to 739
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  184 non-null    float64
 1   Daily Internet Usage      184 non-null    float64
 2   Ad Topic Line             200 non-null    object
 3   Clicked on Ad             200 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 15.9+ KB

In [50]:
# Получаем количество строк датафрейма
num_rows = adv2_df.shape[0]

# Проверяем каждый столбец на наличие незаполненных значений
non_null_columns = []
for column in adv2_df.columns:
    if adv2_df[column].count() == num_rows:
        non_null_columns.append(column)

In [52]:
# Ваш код здесь
print("Столбцы без незаполненных значений:")
for column in non_null_columns:
    print(column)

Столбцы без незаполненных значений:
Ad Topic Line
Clicked on Ad

***Задача 6***

Добавьте к датафрейму `adv1_df` в конец датафрейм `adv2_df` с помощью метода `append`. 

Сохраните объединенный датафрейм в новой переменной `adv12_df` и распечатайте его.

In [53]:
# Ваш код здесь
adv12_df = adv1_df.append(adv2_df)
adv12_df

C:\Users\e.kuzmina\AppData\Local\Temp\ipykernel_3356\980379186.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adv12_df = adv1_df.append(adv2_df)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
...,...,...,...,...
735,65.53,190.17,Pre-emptive client-server installation,0
736,61.87,NaN,Multi-channeled attitude-oriented toolset,0
737,83.16,NaN,Decentralized 24hour approach,0
738,44.11,121.24,Organic next generation matrix,1
739,56.57,131.98,Multi-channeled non-volatile website,1

***Задача 7***

Для объединённого датафрейма `adv12_df` распечатайте среднее время, проводимое пользователем на сайте компании.

In [58]:
# Ваш код здесь
adv12_df['Daily Time Spent on Site'].mean()

65.57268138801263

***Задача 8***

Из объединённого датафрейма `adv12_df` выберите и распечатайте строки только с теми пользователями, для которых неизвестно среднее ежедневное время, проводимое пользователем на сайте компании.

In [59]:
# Ваш код здесь
adv12_df[adv12_df['Daily Time Spent on Site'].isna()]

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
9,NaN,225.58,Robust logistical utilization,0
12,NaN,131.76,Reactive local challenge,1
19,NaN,143.56,Grass-roots coherent extranet,1
27,NaN,164.83,Mandatory disintermediate utilization,1
34,NaN,209.82,Business-focused value-added definition,0
...,...,...,...,...
672,NaN,235.97,Customizable value-added project,0
674,NaN,126.44,Reactive impactful challenge,1
685,NaN,200.71,Focused multi-state workforce,0
690,NaN,226.69,Total coherent superstructure,0
731,NaN,225.05,Multi-tiered heuristic strategy,0

***Задача 9***

Загрузите таблицу из файла `advertising_3.csv` и сохраните её в датафрейм `adv3_df`. Укажите в качестве индекса стоблец `Number`. Выведите на экран столбцы `Ad Topic Line` и `Clicked on Ad`.

In [60]:
# Ваш код здесь
adv3_df = pd.read_csv('./12.6 Данные для домашнего задания/12.6 Данные для домашнего задания/advertising_3.csv')
adv3_df = adv3_df.set_index('Number')
adv3_df.loc[:, ['Ad Topic Line', 'Clicked on Ad']]

                                       Ad Topic Line  Clicked on Ad
Number
740                 Distributed bifurcated challenge              0
741       Customizable zero-defect Internet solution              0
742     Self-enabling zero administration neural-net              1
744           Open-architected system-worthy ability              0
745               Quality-focused maximized extranet              1
...                                              ...            ...
999                    Front-line bifurcated ability              1
1000                   Fundamental modular algorithm              1
1001                 Grass-roots cohesive monitoring              1
1002                    Expanded intangible solution              1
1003            Proactive bandwidth-monitored policy              0

[251 rows x 2 columns]

***Задача 10***

Добавьте к датафрейму `adv12_df` в конец датафрейм `adv3_df` с помощью метода `concat`. Явно пропишите значение параметра `axis`.

Сохраните объединённый датафрейм в новой переменной `adv123_df` и распечатайте его.

In [61]:
# Ваш код здесь
adv123_df = pd.concat([adv12_df, adv3_df], axis=0)
adv123_df

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
...,...,...,...,...
999,43.70,173.01,Front-line bifurcated ability,1
1000,72.97,208.58,Fundamental modular algorithm,1
1001,51.30,NaN,Grass-roots cohesive monitoring,1
1002,51.63,120.37,Expanded intangible solution,1
1003,55.55,187.95,Proactive bandwidth-monitored policy,0

***Задача 11***

Для объединённого датафрейма `adv123_df` выберите только те строки, в которых пользователи кликнули на рекламное сообщение. Сохраните полученный результат в датафрейм `success_adv_df`, распечатайте размер нового датафрейма.

In [132]:
# Ваш код здесь
success_adv_df = adv123_df[adv123_df['Clicked on Ad'] != 0]
success_adv_df.shape

(475, 4)

***Задача 12***

Загрузите таблицу с данными пользователей из файла `users.csv` и сохраните её в датафрейм `users_df`. Индекс не указывайте.

Распечатайте сам датафрейм и сводную таблицу со статистиками для него.

In [67]:
# Ваш код здесь
users_df = pd.read_csv('./12.6 Данные для домашнего задания/12.6 Данные для домашнего задания/users.csv')
users_df

     Number   Age  Male            City                 Country  Area Income
0         5   NaN   0.0     Wrightburgh                 Tunisia     61833.90
1         6  31.0   NaN       West Jodi                   Nauru     68441.85
2         7  26.0   0.0        Davidton              San Marino     59785.94
3         8  29.0   1.0  West Terrifurt                   Italy     54806.18
4         9   NaN   0.0    South Manuel                 Iceland     73889.99
..      ...   ...   ...             ...                     ...          ...
975    1000  30.0   NaN       Duffystad                 Lebanon     71384.57
976    1001  45.0   1.0     New Darlene  Bosnia and Herzegovina     67782.17
977    1002  51.0   NaN   South Jessica                Mongolia     42415.72
978    1003  19.0   0.0     West Steven               Guatemala     41920.79
979    1004  26.0   0.0     Ronniemouth                  Brazil     29875.80

[980 rows x 6 columns]

In [74]:
users_df.columns

Index(['Number', 'Age', 'Male', 'City', 'Country', 'Area Income'], dtype='object')

In [87]:
users_df.shape

(980, 6)

In [85]:
users_df.describe()

            Number         Age        Male   Area Income
count   980.000000  860.000000  868.000000    903.000000
mean    504.485714   36.073256    0.500000  55010.631938
std     287.956480    8.795992    0.500288  13423.710892
min       5.000000   19.000000    0.000000  13996.500000
25%     255.750000   29.000000    0.000000  46947.570000
50%     503.500000   35.000000    0.500000  57032.360000
75%     753.250000   42.000000    1.000000  65537.990000
max    1004.000000   61.000000    1.000000  79484.800000

In [84]:
users_df[['City', 'Country']].describe()

             City Country
count         887     888
unique        860     235
top     Lisamouth  France
freq            3       9

***Задача 13***

Глядя на статистики `users_df`, укажите значения, удовлетворяющие следующим условиям:
1. Возраст самого молодого пользователя сайта: *ваш_ответ*
2. Максимальный средний доход в месте жительства пользователя сайта: *ваш_ответ*
3. Средний возраст пользователя сайта: *ваш_ответ*
4. Количество заполненных значений для колонки, содержащей информацию о том, является пользователь мужчиной или нет: *ваш_ответ*
5. Минимальный номер пользователя: *ваш_ответ*

В этом задании не требуется выбирать по условиям и распечатывать значения, достаточно внимательно посмотреть на статистики и скопировать нужные значения согласно вопросам.

In [98]:
1. 19
2. 79484.8
3. 36
4. 868
5. 5

SyntaxError: invalid syntax (638229962.py, line 1)

***Задача 14***

К полученному датафрейму с успешными рекламными сообщениями `success_adv_df` добавьте справа информацию из датафрейма с пользователями `users_df` и сохраните в датафрейм `success_full_df`. В полученном датафрейме должны остаться только те пользователи, номера которых есть в обоих датафреймах. Для этого воспользуйтесь методом `merge` и пропишите явно верные параметры.

Затем распечатайте датафрейм.

*Важно:*

Объединять датафреймы с помощью `merge` можно и по индексам, и по столбцам с разными названиями. 
Так как общие значения содержатся в столбце `Number`, но в датафрейме `users_df` данный столбец является обычным столбцом, а в `success_adv_df` является индексом, перед тем как объединять, переведите столбец `Number` в `success_adv_df` в обычный столбец.

Для этого перед объединением пропишите:
```
success_adv_df = success_adv_df.reset_index()
```

[Подробнее о reset_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)

In [135]:
success_adv_df = success_adv_df.reset_index()
success_adv_df

,Number,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
0,12,NaN,131.76,Reactive local challenge,1
1,15,47.64,122.02,Centralized neutral neural-net,1
2,17,69.57,113.12,Centralized content-based focus group,1
3,19,NaN,143.56,Grass-roots coherent extranet,1
4,20,63.45,140.64,Persistent demand-driven interface,1
...,...,...,...,...,...
470,997,69.17,123.62,Extended leadingedge solution,1
471,999,43.70,173.01,Front-line bifurcated ability,1
472,1000,72.97,208.58,Fundamental modular algorithm,1
473,1001,51.30,NaN,Grass-roots cohesive monitoring,1
474,1002,51.63,120.37,Expanded intangible solution,1

In [138]:
# Ваш код здесь
success_full_df = pd.merge(left=success_adv_df, right=users_df, on='Number', how='inner')
success_full_df

,Number,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad,Age,Male,City,Country,Area Income
0,12,NaN,131.76,Reactive local challenge,1.0,48.0,1.0,Port Jefferybury,Australia,24593.33
1,15,47.64,122.02,Centralized neutral neural-net,1.0,49.0,NaN,West Brandonton,Qatar,45632.51
2,17,69.57,113.12,Centralized content-based focus group,1.0,48.0,1.0,West Katiefurt,Egypt,51636.92
3,19,NaN,143.56,Grass-roots coherent extranet,1.0,33.0,0.0,NaN,Barbados,30976.00
4,20,63.45,140.64,Persistent demand-driven interface,1.0,23.0,NaN,NaN,Spain,52182.23
...,...,...,...,...,...,...,...,...,...,...
986,993,NaN,NaN,NaN,NaN,48.0,1.0,Sarafurt,Bahrain,51501.38
987,994,NaN,NaN,NaN,NaN,NaN,0.0,South Denise,Saint Pierre and Miquelon,55187.85
988,998,NaN,NaN,NaN,NaN,27.0,1.0,Edwardsmouth,Isle of Man,66200.96
989,1003,NaN,NaN,NaN,NaN,19.0,0.0,West Steven,Guatemala,41920.79
990,1004,NaN,NaN,NaN,NaN,26.0,0.0,Ronniemouth,Brazil,29875.80

***Задача 15***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, отобразите сводную таблицу со статистиками для строковых колонок (`Ad Topic Line`, `City`, `Country`).

In [182]:
# Ваш код здесь
success_full_df[['Ad Topic Line', 'City', 'Country']].describe()

                   Ad Topic Line          City Country
count                        475           887     888
unique                       475           860     235
top     Reactive local challenge  Williamsport  France
freq                           1             3       9

***Задача 16***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите страну и количество вхождений этой страны в датафрейм.

In [181]:
# Ваш код здесь
success_full_df['Country'].value_counts()

France                   9
Czech Republic           9
Liberia                  8
Senegal                  8
Turkey                   8
                        ..
Romania                  1
Djibouti                 1
Germany                  1
Saint Kitts and Nevis    1
Lesotho                  1
Name: Country, Length: 235, dtype: int64

***Задача 17***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите строки с данными пользователей из страны, название которой встречается чаще остальных.

In [193]:
# Ваш код здесь
success_full_df[success_full_df['Country'] == success_full_df['Country'].value_counts().index[0]]

,Number,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad,Age,Male,City,Country,Area Income
127,259,56.70,123.13,Progressive non-volatile neural-net,1.0,48.0,0.0,Port Crystal,France,62784.85
154,320,73.89,110.68,Horizontal national architecture,1.0,39.0,0.0,North April,France,47160.53
410,891,NaN,140.95,Phased zero-defect portal,1.0,NaN,1.0,Mariahview,France,43073.78
463,982,54.97,116.38,Virtual bifurcated portal,1.0,NaN,1.0,Robinsontown,France,51900.03
719,480,NaN,NaN,NaN,NaN,33.0,1.0,Smithtown,France,71296.67
797,628,NaN,NaN,NaN,NaN,35.0,NaN,Port Brianfort,France,48918.55
804,638,NaN,NaN,NaN,NaN,37.0,0.0,Adamsbury,France,55358.88
881,775,NaN,NaN,NaN,NaN,30.0,0.0,Newmanberg,France,69758.31
984,989,NaN,NaN,NaN,NaN,31.0,1.0,Lindsaymouth,France,58037.66

***Задача 18***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите строки с данными пользователей из страны, название которой встречается чаще остальных, они проводят в интернете в среднем больше 120 минут и их возраст меньше 30 лет. 
Cохраните получившиеся строки в новый датафрейм `filtered_df`.

In [ ]:
# Тут ошибка в условии или результатом должна быть пустая таблица?

In [192]:
# Ваш код здесь
filtered_df = success_full_df[(success_full_df['Country'] == success_full_df['Country'].value_counts().index[0]) & 
                (success_full_df['Daily Internet Usage'] > 120) &
                (success_full_df['Age'] < 30)]
filtered_df

Empty DataFrame
Columns: [Number, Daily Time Spent on Site, Daily Internet Usage, Ad Topic Line, Clicked on Ad, Age, Male, City, Country, Area Income]
Index: []

***Задача 19***

Для получившегося датафрейма `filtered_df` выведите строки с данными пользователей, для которых либо не указано среднее время, проведённое на сайте, либо указанное время больше 55 минут. Cохраните получившиеся строки в новый датафрейм `filtered_df2`.

In [166]:
# Ваш код здесь
filtered_df2 = filtered_df[(filtered_df['Daily Time Spent on Site'].isna()) |
                           (filtered_df['Daily Time Spent on Site'] > 55)]
filtered_df2

Empty DataFrame
Columns: [Number, Daily Time Spent on Site, Daily Internet Usage, Ad Topic Line, Clicked on Ad, Age, Male, City, Country, Area Income]
Index: []

**Дополнительные задачи**

***Задача 20***

Для датафрейма `adv123_df` выведите строки с данными, заголовок рекламного сообщения в которых включает слово `model`.

Для этого вам понадобится метод [`contains`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html).

Cохраните получившиеся строки в новый датафрейм `model_df`.

In [167]:
# Ваш код здесь
model_df = adv123_df[adv123_df['Ad Topic Line'].str.contains('model')]
model_df

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
62,44.98,129.31,Organized global model,1
119,69.00,NaN,Virtual composite model,0
202,78.57,NaN,Exclusive client-driven model,0
211,76.90,212.67,Synchronized multimedia model,0
314,NaN,161.16,Extended interactive model,1
350,65.77,NaN,Function-based fault-tolerant model,0
501,81.10,216.49,Front-line dynamic model,0
538,91.43,209.91,Organic motivating model,0
629,78.17,192.27,Automated mobile model,0
712,81.90,225.47,Multi-channeled 3rdgeneration model,0
823,81.98,212.88,Up-sized maximized model,0
995,35.79,165.62,Enterprise-wide tangible model,1

***Задача 21***

Для получившегося датафрейма `model_df` выведите строки с данными пользователей, которые проводят на сайте больше среднего времени по всем пользователям в данном датафрейме. Cохраните получившиеся строки в новый датафрейм `model_popular_df`.

In [174]:
# Ваш код здесь
model_popular_df = model_df[model_df['Daily Time Spent on Site'] > model_df['Daily Time Spent on Site'].mean()]
model_popular_df

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
202,78.57,NaN,Exclusive client-driven model,0
211,76.90,212.67,Synchronized multimedia model,0
501,81.10,216.49,Front-line dynamic model,0
538,91.43,209.91,Organic motivating model,0
629,78.17,192.27,Automated mobile model,0
712,81.90,225.47,Multi-channeled 3rdgeneration model,0
823,81.98,212.88,Up-sized maximized model,0

***Задача 22***

Для объединённого датафрейма `model_popular_df` выведите строки с данными пользователей, номера которых равны 501, 712 и 823. 

Для этого вам понадобится метод [`isin`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html).

*Подсказка:* Не забудьте, что номера пользователей находятся не в обычной колонке, а в колонке, являющейся индексом, поэтому вам необходимо получить значения индекса, а не обычной колонки.

In [177]:
# Ваш код здесь
filtered_df = model_popular_df[model_popular_df.index.isin([501, 712, 823])]
filtered_df

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
501,81.10,216.49,Front-line dynamic model,0
712,81.90,225.47,Multi-channeled 3rdgeneration model,0
823,81.98,212.88,Up-sized maximized model,0